---
import client from "../../tina/__generated__/client";
import Page from "../../tina/pages/Page";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import BaseHead from "../components/BaseHead.astro";
import config from '../content/config/config.json';

export async function getStaticPaths() {
	const pagesResponse = await client.queries.pageConnection();
	const pages = pagesResponse.data.pageConnection.edges;
	return pages?.flatMap((page) => !!page?.node ? {
		params: { slug: page.node._sys.relativePath.replace(/\.mdx?$/, '') }
	} : []) || [];
}

const {slug} = Astro.params;
if (slug === 'favicon.ico') return new Response(null, {
  status: 404,
  statusText: 'Not found'
});
const data = await (slug ? client.queries.page({relativePath: `${slug}.mdx`}) : undefined);
if (!data) return Astro.redirect('/404');

const renderMode = Astro.isPrerendered ? "PRE-RENDERED" : "ON-DEMAND";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={data.data.page.seoTitle} description={config.seo.description} />
	</head>
	<body>
		<Header />
				<Page {...data} client:tina />
				<p>Render mode: {renderMode}</p>
		<Footer />
	</body>
</html>
